BODY {
    font-family: 'Open Sans', sans-serif;
    color: #0044AA;
    text-align: center;
  }
  H1 {
    font-size: 24px;
  }
  
  #colorTurn {
    font-size: 18px;
  }
  
  #grid {
    margin: 20px auto;
    display: table;
    width: 415px;
    height: 360px;
    padding: 10px;
    background: #0077EE;
    border: 1px solid #0044AA;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
     border-spacing: 5px 5px;
  }
  
  .row {
    display: table-row;
  }
  
  .cell {
    display: table-cell;
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 2px;
  }